# Workshop: Olympic Medals

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Olympic_rings_without_rims.svg/1920px-Olympic_rings_without_rims.png" width=300>

First clone the repository at [https://github.com/daniprec/BAM-Coding-Lab](https://github.com/daniprec/BAM-Coding-Lab)

You will find the data inside `data/olympics`.

---

In [9]:
import matplotlib.pyplot as plt
import pandas as pd

from olympics import load_and_preprocess

In [10]:
# Use our function to load and preprocess the data
df_medals = load_and_preprocess(path_csv="../data/olympics/olympics_medals.csv")

print(df_medals.columns)

Index(['edition', 'edition_id', 'country_noc', 'sport', 'event', 'result_id',
       'athlete', 'athlete_id', 'pos', 'medal', 'isTeamSport', 'year',
       'season', 'event_simple', 'gender'],
      dtype='object')

### âž• Adding More Data

Merge both datasets and save the result.

In [11]:
path_gdp = "../data/olympics/gdp.csv"

df_gdp = pd.read_csv(path_gdp)

df_gdp.head(5)

        Entity Code  Year  GDP per capita, PPP (constant 2017 international $)
0  Afghanistan  AFG  2002                                          1280.4631
1  Afghanistan  AFG  2003                                          1292.3335
2  Afghanistan  AFG  2004                                          1260.0605
3  Afghanistan  AFG  2005                                          1352.3207
4  Afghanistan  AFG  2006                                          1366.9932

In [13]:
# Rename columns
df_gdp = df_gdp.rename(columns={"GDP per capita, PPP (constant 2017 international $)": "GDP"})

# Drop "Entity" column
df_gdp = df_gdp.drop(columns=["Entity"])

In [14]:
# Merge by country code ("country_noc" / "Code") and year ("year" / "Year")
df = pd.merge(df_medals, df_gdp, left_on=["country_noc", "year"], right_on=["Code", "Year"])

df

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport,year,season,event_simple,gender,Code,Year,GDP
0,1992 Summer Olympics,23,BRN,Athletics,"100 metres, Men",63952,Khaled Ibrahim Jouma,65640,6 h1 r1/4,No,False,1992,Summer,100 metres,Men,BRN,1992,71781.100
1,1992 Summer Olympics,23,BRN,Athletics,"200 metres, Men",63973,Khaled Ibrahim Jouma,65640,5 h9 r1/4,No,False,1992,Summer,200 metres,Men,BRN,1992,71781.100
2,1992 Summer Olympics,23,BRN,Athletics,"5,000 metres, Men",64041,Abdullah Al-Dosari,65635,12 h3 r1/2,No,False,1992,Summer,"5,000 metres",Men,BRN,1992,71781.100
3,1992 Summer Olympics,23,BRN,Athletics,"10,000 metres, Men",64048,Abdullah Al-Dosari,65635,AC h1 r1/2,No,False,1992,Summer,"10,000 metres",Men,BRN,1992,71781.100
4,1992 Summer Olympics,23,BRN,Athletics,"Marathon, Men",64053,Saad Mubarak Ali,65641,79,No,False,1992,Summer,Marathon,Men,BRN,1992,71781.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112118,2022 Winter Olympics,62,USA,Speed Skating,"3,000 metres, Women",19020427,Mia Kilburg,138379,19,No,False,2022,Winter,"3,000 metres",Women,USA,2022,64623.125
112119,2022 Winter Olympics,62,USA,Speed Skating,"Mass Start, Women",19020429,Mia Kilburg,138379,4,No,False,2022,Winter,Mass Start,Women,USA,2022,64623.125
112120,2022 Winter Olympics,62,USA,Speed Skating,"Mass Start, Women",19020429,Giorgia Birkeland,149161,12,No,False,2022,Winter,Mass Start,Women,USA,2022,64623.125
112121,2022 Winter Olympics,62,USA,Bobsleigh,"Monobob, Women",19019671,Kaillie Humphries,118672,1,Gold,False,2022,Winter,Monobob,Women,USA,2022,64623.125
112122,2022 Winter Olympics,62,USA,Bobsleigh,"Monobob, Women",19019671,Elana Meyers Taylor,118644,2,Silver,False,2022,Winter,Monobob,Women,USA,2022,64623.125